version: "3.9"

services:
  web:
    build: .
    # command: gunicorn job_platform.wsgi:application --bind 0.0.0.0:8000 --workers 4
    command: >
      sh -c "
      python manage.py collectstatic --noinput &&
      python manage.py makemigrations &&
      python manage.py migrate &&
      gunicorn job_platform.wsgi:application --bind 0.0.0.0:8000 --workers 4
      "
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: postgres:15
    env_file:
      - .env 
    ports:
      - "5433:5432"
